# FastAPI
fastapi==0.78.0
uvicorn==0.17.6
# UT
pytest==7.1.2
# AWS
boto3==1.24.58
# Lambda×FastAPI
mangum==0.15.0
# DI(Dependency Injection/依存性注入)
injector==0.19.0
# ログ出力
slf4py==0.0.2
# HTTPライブラリ
requests==2.27.1
# ORMライブラリ
SQLAlchemy==1.4.31
mysqlclient==2.1.1
# キャッシュ
cachetools==5.0.0
# ElasticSearch(Amazon Opensearch Serviceを利用するために7.14より低いバージョンを指定)
elasticsearch<7.14
elasticsearch-dsl==7.4.0